page-login {

  .logo {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    display: block;
    width: auto;
    height: 20vh;
    border-radius: 50%;
  }
  .loginbtn{
     margin:0 auto;
      width:80%;
    border-radius: 20px;
  }
  //.input,ion-item{
  // background-color: #488aff !important;
  //  color:#fff;
  //}

}
