<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>EASYWAY</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>


<ion-content padding id="loginPage" color="dark">
  <img src="assets/imgs/logo.jpg" class="logo animated slideInDown" />
    <form  [formGroup]="form" class="animated slideInUp">
  
      <ion-item >
        <ion-label floating>  <ion-icon name="contact"  item-left></ion-icon>Username</ion-label>
        <ion-input type="text" formControlName="email" class="input"></ion-input>

      </ion-item >

      <ion-item >
        <ion-label floating><ion-icon name="lock" item-left color="primary"></ion-icon>Password</ion-label>
        <!--<ion-input type="text" *ngIf="showPasswordText"></ion-input>-->
        <ion-input type="password" formControlName="password" class="input" ></ion-input>
        <!--<button ion-button clear type="button" item-right (click)="showPasswordText=!showPasswordText">-->
          <!--<ion-icon name="eye"></ion-icon>-->
        <!--</button>-->
        <!--<ion-icon name="lock" item-left color="primary"></ion-icon>-->
      </ion-item>
      <ion-col><button ion-button color="dark" block id="signinbtn" class="loginbtn" (click)="processLogin()">
        <ion-icon name="log-in"></ion-icon>
        SignIn</button></ion-col>
    <ion-grid>
      <ion-row>
        <!--<ion-col><button ion-button block id="signupbtn" color="secondary" (click)="signup()">SignUp</button></ion-col>-->
        <!--<ion-col><button ion-button block id="signinbtn" (click)="processLogin()"> SignIn</button></ion-col>-->
      </ion-row>
    </ion-grid>
    <button ion-button block (click)="fblogin()" class="loginbtn" ><ion-icon name="logo-facebook" > &nbsp; facebook</ion-icon></button>


              <!--<ion-grid>-->
                <!--<ion-row>-->
                  <!--<ion-col><button ion-button block (click)="fblogin()"><ion-icon name="logo-facebook" ></ion-icon></button></ion-col>-->
                  <!--<ion-col><button ion-button block id="twitterbtn"><ion-icon name="logo-twitter"></ion-icon></button></ion-col>-->
                  <!--<ion-col><button ion-button block color="danger"><ion-icon name="logo-google"></ion-icon></button></ion-col>-->
                <!--</ion-row>-->
              <!--</ion-grid>-->
    </form>
    <p text-center>Don't have account ? <a (click)="signup2()">create account</a> </p>
</ion-content>
