<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="ProcessRegister()" [formGroup]="form">
  <ion-list>
    <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text"  formControlName="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text"  formControlName="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Middle Name</ion-label>
      <ion-input type="text"  formControlName="middlename"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input type="text"  formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text"  formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Next of Kin Phone</ion-label>
      <ion-input type="text"  formControlName="nextofkinphone"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text"  formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>password</ion-label>
        <ion-input type="text"  formControlName="password"></ion-input>
    </ion-item>
      <button ion-button block>Register</button>
  </ion-list>
  </form>
</ion-content>
