<ion-tabs>
  <ion-tab [root]="tabRoot1" tabTitle="Home" tabIcon="home" [rootParams]="navParams.data"  ></ion-tab>
  <ion-tab [root]="tabRoot2" tabTitle="Trip" tabIcon="bus" [rootParams]="navParams.data"></ion-tab>
  <ion-tab [root]="tabRoot3" tabTitle="Map" tabIcon="map" [rootParams]="navParams.data"></ion-tab>
</ion-tabs>
