<!--
  Generated template for the TripPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TRIP DETAIL</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p text-center> Trip Details</p>
  <ion-grid *ngIf="setTrip">
    <ion-row>
      <ion-col>From</ion-col>
      <ion-col style="font-weight: bolder;font-size:20px;">{{from}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>To</ion-col>
      <ion-col style="font-weight: bolder;font-size:20px;">{{to}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Trip Date</ion-col>
      <ion-col style="font-weight: bolder;font-size:20px;"> {{date}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Trip Time</ion-col>
      <ion-col style="font-weight: bolder;font-size:20px;">{{time}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Trip Fare</ion-col>
      <ion-col style="font-weight: bolder;font-size:20px;"> # 200 </ion-col>
    </ion-row>
  </ion-grid>
  <h3 text-center> Your trip begin in 10 mins</h3>
</ion-content>
