<!--
  Generated template for the TerminalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Terminus</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>From</ion-col>
      <ion-col style="font-weight: bolder;font-size:20px;">{{pickup}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>To</ion-col>
      <ion-col>{{destination}} </ion-col>
    </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label floating>Trip date</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="tripdate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Trip Time</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="triptime"></ion-datetime>
    </ion-item>
    <button ion-button block (click)="checkIn()" ></button>
</ion-content>
