<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>EasyWay</ion-title>
    </ion-navbar>

</ion-header>


<ion-content >


  <ion-card >
      <!--<ion-card-header>{{firstname}}</ion-card-header>-->
      <ion-card-content >
        <img src="assets/imgs/lamata.jpg"/>
      </ion-card-content>
  </ion-card>
    <h3 text-center>Welcome {{user.displayName}} {{user.firstname}} </h3>
  <div text-center>Click on this <img src="assets/imgs/start.PNG " style="width:60px;height: 40px;border-radius: 100%;"/> to begin process</div>
  <!--</form>-->
<ion-fab bottom right >
  <button color="primary" ion-fab (click)="goTerminus()" ><ion-icon name="bus" ></ion-icon></button>
</ion-fab>
</ion-content>
