<!--
  Generated template for the BusmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Pick Up Terminal</ion-title>
    <ion-buttons end >
      <button (click)="closeModal()" ion-button>close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--list of bus-->
  <p text-center>Select pick up terminus</p>
  <ion-list>
    <ion-item *ngFor="let location of terminal" (click)="selectTerminus(location.TERMINUS_NAME)">
      <ion-icon name="bus" item-left></ion-icon> {{location.TERMINUS_NAME}}
    </ion-item>
  </ion-list>
</ion-content>
